<div class="body">
  <div class="body_header">
    <div class="chat-name">
      <a href="#">hogefuga</a>
    </div>
    <div class="chat-finish">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="body_middle">
  <div class="messages">
    <div class="message">
    <div class="users_name">Tom</div>
    <div class="created_at">2020/3/31(Wed)</div>
    </div>
    <div class="message_text">おはよう</div>
  </div>
  <div class="messages">
    <div class="message">
    <div class="users_name">Tom</div>
    <div class="created_at">2020/3/31(Wed)</div>
    </div>
    <div class="message_text">おはよう</div>
  </div>
</div>
  <div class="body_footer">
    <div class="form-input">
    <input class="form-message" placeholder="type a message">
      <label class="form-image">
       <span class="image-file">画像</span>
       <input type="file" class="hidden">
      </label>
    </div>
   <input class="form-submit" type="submit" value="送信">
  </div>
  
