<div class="header">
  <div class="side_header">
      <div class="user_name">
        <a href="#">Tom</a>
      </div>
      <div class="chat_create">
        <a href="#">チャットを作成する</a>
      </div>
  </div>
  <div class="side_body">
    <div class="room">
      <div class="room_name">
        <a href="#">techroom1</a>
      </div>
    </div>
    <div class="room">
      <div class="room_name">
        <a href="#">techroom2</a>
      </div>
    </div>
  </div>
</div>
