<div class="header">
  <div class="side_header">
      <div class="user_name">
        <%= link_to current_user.name,edit_user_path(current_user) %>
      </div>
      <div class="chat_create">
        <%= link_to 'チャットを作成する',new_room_path %>
      </div>
  </div>
  <div class="side_body">
   <% @rooms.each do |room| %>
    <div class="room">
      <div class="room_name">
        <a href="#"><%= room.name %></a>
      </div>
    </div>
    <% end %>
  </div>
</div>
